@model IEnumerable<Data.Domain.Entities.Faction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a  class="btn btn-default" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Week)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week)
            </td>
            <td>
                <a  class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a  class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a  class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
