@using Business.ServicesInterfaces
@model IEnumerable<News>
@inject IRecordService Service
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<environment include="Development">
    <link href="~/css/News.css" rel="stylesheet" />
</environment>

@{
    ViewData["Title"] = "Index";
}

<div class="newsDiv">
    @foreach (var item in Model)
    {
        <b>@Html.DisplayFor(modelItem => item.Title)</b>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
         if (User.IsInRole("Assistant") || User.IsInRole("Owner"))
         {
             <div class="buttonsDiv">
                 <a style="padding: 2% 10%; font-family: Georgia; font-size: 16px" class="btn btn-default" asp-action="UpdateNews" asp-route-id="@item.Id">Edit</a>
                 <a style="padding: 2% 10%; font-family: Georgia; font-size: 16px" class="btn btn-default" asp-action="DeleteNews" asp-route-id="@item.Id">Delete</a>
             </div>
         }
        <hr />
    }

</div>

@using (Html.BeginForm("Index", "News", null, FormMethod.Post, null, new { }))
{
    for (var index = 0; index < Service.GetNumberOfElements(); ++index)
    {
        if (index % 5 == 0)
        {
            int value = @index / 5 + 1;
            <button style="margin-left: 50%" class="btn btn-default" type="submit" name="loadButton" value="@index">@value</button>
        }
    }
}

@if (User.IsInRole("Assistant") || User.IsInRole("Owner"))
{
    <p style="margin-left: 85%;">
        <a style="padding: 2% 10%; font-family: Georgia; font-size: 16px " class="btn btn-default" asp-action="CreateNews">Add</a>
    </p>
}
