@model IEnumerable<Data.Domain.Entities.News>
@using Data.Domain.Interfaces.ServicesInterfaces
@inject IRecordService Service
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-default" asp-action="CreateNews">Create new News</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th style="font-size: 22px;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="font-size: 22px;">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th style="font-size: 22px;">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td style="font-size: 16px;">
                    <p>
                        <b>@Html.DisplayFor(modelItem => item.Title)</b>
                        <blockquote>@Html.DisplayFor(modelItem => item.Description)</blockquote>
                    </p>
                </td>
                <td style="font-size: 16px;">
                    @{
                        var creator = UserManager.Users.SingleOrDefault(user => user.Email == item.CreatedBy);
                        var author = creator.FirstName + " " + creator.LastName;
                    }
                    @Html.DisplayFor(modelItem => author)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="UpdateNews" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-default" asp-action="DeleteNews" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
         }
    </tbody>
</table>
@using (Html.BeginForm("Index", "News", null, FormMethod.Post, null, new { })) 
{
    for (var index = 0; index <  Service.GetNumberOfElements(); ++index) {
        if (index % 5 == 0)
        {
            int value = @index / 5 + 1;
            <button class="btn btn-default" type="submit" name="loadButton" value="@index">@value</button>
        }
    }
}
