@model IEnumerable<Data.Domain.Entities.Presence>
@using Data.Domain.Interfaces.ServicesInterfaces
@inject IUserStatusService service
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Assistant") || User.IsInRole("Owner"))
{
    <p>
        <a asp-action="CreateLaboratory">Start Laboratory</a>
    </p>
}
else
{
    <p>
        <a asp-action="Attendance">Attendance</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Informations
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                </td>

                <td>
                    <table class="table">
                            <tr>
                                @{
                                    var space = "---------";
                                    <th>
                                        @Html.DisplayFor(modelItem => space)
                                    </th>

                                    for (var index = 1; index <= 7; ++index)
                                    {
                                        <th>
                                            Week @Html.DisplayFor(modelItem => index)
                                        </th>
                                    }
                                 }
                            </tr>
                            <tr>
                                @{
                                    var presence = "P |";
                                    var lab = "L |";
                                    var kata = "K";
                                    var stud = "Student";
                                    <th>
                                        @Html.DisplayFor(modelItem => stud)
                                    </th>

                                    for (var index = 1; index <= 7; ++index)
                                    {
                                        <th>
                                            @Html.DisplayFor(modelItem => presence)
                                            @Html.DisplayFor(modelItem => lab)
                                            @Html.DisplayFor(modelItem => kata)
                                        </th>
                                    }
                                }
                            </tr>
                            <tr>
                                @{
                                    foreach (var student in item.Students)
                                    {
                                        <tr>
                                            @{
                                                var currentUser = UserManager.Users.SingleOrDefault(user => user.Id == student.Id);
                                                var displayName = currentUser.FirstName + currentUser.LastName;
                                                <th>
                                                    @Html.DisplayFor(modelItem => displayName)
                                                </th>
                                        
                                                <td>
                                                    @Html.DisplayFor(modelItem => student.Presence)
                                                    @Html.DisplayFor(modelItem => student.LaboratoryMark)
                                                    @Html.DisplayFor(modelItem => student.KataMark)
                                                </td>
                                                <a asp-action="UpdatePresence" asp-route-id="@student.Id">Edit</a>
                                            }
                                        </tr>
                                    }
                                  }
                            </tr>
                    </table>
                </td>
             </tr>
         }
   </tbody>
</table>

