@model IEnumerable<Data.Domain.Entities.Presence>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-default"  asp-action="CreatePresence">Create New Presence</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Present)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Laboratory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Present)
                </td>
                <td>
                    <a  class="btn btn-default" asp-action="UpdatePresence" asp-route-id="@item.Id">Edit</a>
                    <a  class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                
            </tr>
         }
    </tbody>
</table>

