@model IEnumerable<Data.Domain.Entities.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Question</a>
</p>
<table class="table">
    <thead>
        <tr>
                <!--<th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th> -->
                @*<th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
            <th>
                Answers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!--<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>-->
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @foreach (var answer in item.Answers)
                {
                    @answer.Text
                    <br />
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Answers" asp-route-id="@item.Id">Answers</a>
            </td>
        </tr>
}
    </tbody>
</table>
