@model Data.Domain.Entities.Answer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnswerDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        @using (Html.BeginForm("Index", "Answers", new { questionId = Model.QuestionId }, FormMethod.Post, null, new { }))
        {
            <!----<button>Back to list</button>-->
        }
</div>
